.artist-thumbnail {
  width: 100%;
}

.nav-links {
  display: inline-flex;
  width: 100%;
  div[class*="nav-"] {
    width: 50%;
  }
  .nav-next {
    text-align: right;
  }
}


/* Exhibition pages */

.l-gallery-item--text {
  width: 100%;
}

.l-gallery-title {
  border-bottom: 1px solid $color__border;
  font-family: $caption-font;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer {
  width: 50%;

  @include media-breakpoint-up(md) {
    width: 33.333%;
  }
}

// .grid-item {
//   float: left;
// }

// .grid-item img {
//   display: block;
//   width: 100%;
// }

.grid {
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: repeat(2, 1fr);

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item {
  padding: 1em;

  img {
    display: block;
    width: 100%;
  }
}

/* ---- fancybox ---- */
.we-fancybox-anchor {
  .we-fancybox-label {
    display: none;
  }
}

.fancybox-caption-wrap {
  pointer-events: all;
}

.wex-flex-basis {
  flex-basis: 100%;
}

.row {
  &.art-fair {
    min-height: 300px;
  }
}

.horizontal-rule {
  padding-bottom: 3px;
  border-bottom: 3px solid $brand-chicago;
}